.img-square{
    width: 350px;
    height: 350px;
}
.img{
    width: 350px;
}
.smart-card{
    width:auto;
    height:450px;
    box-shadow: 0px 0px 0px ;
    border:none;
    background-color: #eee;
}

.input{
    width: 200px;
}

.title{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    color: red;
    
}
.fonte{
    font-size: 30px;
    font-weight: 600;

}