.AppStoreButton {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(193,188,170,1) 0%);
    color: #333;
  }
  
  .AppStoreButton:hover {
    background: #0056b3;
    border-color: #0056b3;
    color: white;
  }