.fadeOutRight {
    animation-name: fadeOutRightAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  .fadeInLeft {
    animation-name: fadeInLeftAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOutRightAnimation {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  @keyframes fadeInLeftAnimation {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

#first-page-container {
    position: relative;
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  #first-page-container .img-main {
    background-image: url('../../images/ImgMain.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px); 
    z-index: -1; 
  }

  #first-page-container .img-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .firstContent h2, .firstContent p{
    color: black;
    text-align: center;
  }

  .firstContent h1{
    color:red;
    font-family: 'Pacifico';
    font-size: 90px;
    text-align: center;
    padding-bottom: 10px;
  }

  #second-page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* Alterei para preto para garantir contraste com a imagem */
  }
  
  .img-second {
    background-image: url('../../images/ImgSecond.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
  }