#second-page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* Alterei para preto para garantir contraste com a imagem */
}

.img-second {
  background-image: url('../../images/ImgSecond.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 98.5vw;
  filter: blur(2px);
  transform: scale(1.01);
}
.img-second::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.action-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.action-card .card-text {
  color: #666;
}

.gradient-bg {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,234,226,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
  color: #333; 
  filter: opacity(80%);
}

.register {
  background-color: #2B3035;
  color: white;
}

.register:hover{
  background-color: #23272b;
  color: white;
  transition: 0.3s;
}

.introducing {
  filter: opacity(80%);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Garante que o modal esteja sobre todo o conteúdo */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%; /* Limita a largura máxima do modal */
  max-height: 90%; /* Limita a altura máxima do modal */
  overflow: auto; /* Adiciona scroll quando o conteúdo do modal for muito grande */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.main-card{
  border: none;
}